@{
    ViewData["Title"] = "Home Page";
}


    <div class="video">
          <iframe width="1000" height="600"   src="https://www.youtube.com/embed/cbBvgsB5BhQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

